<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <nav>
    <a href="/"><img src="https://www.pngitem.com/pimgs/m/255-2557444_write-icon-hd-png-download.png" alt="Brand" height="30px" width="30px"></a>
    <div class="logo">DAILY JOURNAL</div>
    <ul>
      <li><a class="active" href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Feedback</a></li>
    </ul>
  </nav>
</head>
  <body>
    <div class="container">
