<%- include("partials/header"); -%>
   
   <div class="about" ></div>
    <h1 style="
    background: rgb(0, 0, 0);
    color: azure;
    width: 200px;
    border-radius: 50px;
    margin: auto;
    text-align: center;
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-bottom: 50px;
  ">About</h1>
    <h3 style="color: rgb(255, 255, 255);  margin-top: 50px;
    margin-left:150px; font-family: cursive; font-size: 30px;"> <%= aboutContent%><br>
    
</div>

<%- include("partials/footer"); -%>
