
<%- include("partials/header"); -%>
    <h1 class="compose">Compose</h1>
    <form class="" action="/compose" method="post">
      <div class="form"><br>
        <label class="title"> Title</label>
        <input class="form-control" type="text" name="postTitle"><br><br>
        <label class="title">Post</label><br>
        <textarea class="txt-box" name="postBody" rows="0" cols="0"></textarea><br>
      <button class="form-btn" type="submit" name="button"><b>Publish</b></button>
    </div>
    </form>

<%- include("partials/footer"); -%>
